:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--whiteColorDeam);
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);
    padding: 1.5rem; 



    @media screen and (max-width: 768px) {
        .navBar {
            position: absolute;
            background: var(--whiteColorDeam);
            height: max-content;
            width: 80%;
            border-radius: 1rem;
            top: -500rem;
            left: 50%;
            padding: 1rem;
            transform: translate(-50%);
            z-index: 2000;
            box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
            transition: .3s ease-in-out;

            .activeNavbar {
                top: 7rem;
            }

            .navLists {
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin: auto;
                padding: .5rem 0;
                gap: 10px;

                .navItem {
                    padding: .5rem 0;

                    .navLink {
                        color: #000;
                        font-size: 16px;
                        padding: 10px 15px;
                        text-transform: uppercase;
                        gap: 10px;
                    }
                }

                .btn {
                    margin-top: 1rem;

                    a {
                        font-weight: 600;
                        color: var(--whiteColor);
                    }
                }
            }
        }
    }

    .toggleNavbar {
        .icon {
            font-size: 25px;
            color: var(--PrimaryColor);
        }

        &:hover .icon {
            color: var(--SecondaryColor);
        }
    }
}
.navItem {
    margin-right: 15px; 
}

.logo img {
    border-radius: 80%;
    width: 90px;
    height: 90px;
    object-fit: cover;
    border: 4px solid black;
}

.logo h1 {
    font-size: 1.5rem;
    color: var(--PrimaryColor);
    padding-left: 15px; /* Add some spacing between the logo and the text */
    padding-top: 10px; 
    line-height: 1; /* Reset line-height for better alignment */
}