.row {
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.login {
  border: 1px solid black;
  width: 500px; /* Increased width */
  background: url("./Hotel login.jpg");
  color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

form {
  display: block;
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  backdrop-filter: brightness(40%);
  flex-direction: column;
  display: flex;
  gap: 15px; /* Increased gap between elements */
}

h1 {
  font-weight: normal;
  font-size: 28px; /* Increased font size */
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px; /* Adjusted margin */
}

label {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-size: 14px; /* Increased font size */
  letter-spacing: 1px; /* Adjusted letter spacing */
  padding-left: 5px; /* Adjusted padding */
}

input {
  background: rgba(255, 255, 255, 0.3);
  height: 50px; /* Increased height */
  line-height: 50px; /* Increased line-height */
  border-radius: 25px; /* Adjusted border radius */
  padding: 0px 20px;
  border: none;
  margin-bottom: 20px;
  color: white;
}

button {
  background: #2d7ee7;
  height: 50px; /* Increased height */
  line-height: 50px; /* Increased line-height */
  border-radius: 25px; /* Adjusted border radius */
  border: none;
  margin: 10px 0px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 14px; /* Increased font size */
  text-transform: uppercase;
}
